#root {
  width: 40vw;
  margin: 0 auto;
  padding: 2rem;
}

#navbar{
  background-color:rgb(255, 128, 105);
  display:flex;
  width:100%;
  color:white;
  justify-content:center;
  align-items:center;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

#navbar img{
  margin-right:0.3rem;
}

.travel-card{
  display:flex;
  padding:1rem;
}

.travel-card img{
  max-width:30%;
  object-fit:cover;
  margin-right:2rem;
}

.card-data {
  display:flex;
  flex-flow:column;
}