#root {
  width: 40vw;
  margin: 0 auto;
  padding: 2rem;
}

#navbar{
  background-color:rgb(255, 128, 105);
  display:flex;
  width:100%;
  color:white;
  justify-content:center;
  align-items:center;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

#navbar img{
  margin-right:0.3rem;
}

.travel-card{
  display:flex;
  padding:1rem;
  margin: 1rem auto;
  box-shadow:4px 4px 6px rgba(0,0,0,0.1);
}

.travel-card img{
  max-width:30%;
  object-fit:cover;
  margin-right:2rem;
}

.card-data {
  display:flex;
  flex-flow:column;
  padding:3rem;
}

.card-first-line {
  display:flex;
  align-items:center;
  font-weight:800;
  margin:0;
  padding:0;
  font-size:0.8rem;
  line-height:0.3rem;
}

.card-first-line a {
  margin-left:0.4rem;
  color:#888;
  text-decoration:underline;
  font-size:0.7rem;
}

.card-title, .card-dates{
  margin:0;
  padding:0;
}
.card-description{
  font-size:0.9rem;
}